<hibernate-configuration>
 <session-factory>

  <property name="hibernate.connection.driver_class">
    com.mysql.cj.jdbc.Driver
  </property>

  <property name="hibernate.connection.url">
    jdbc:mysql://localhost:3306/blood_db
  </property>

  <property name="hibernate.connection.username">
    root
  </property>

  <property name="hibernate.connection.password">
    Harshini@10
  </property>

  <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.show_sql">true</property>
  <mapping class="com.vote_Entities.User"/>
<mapping class="com.vote_Entities.Aadhar"/>
<mapping class="com.vote_Entities.Election"/>
<mapping class="com.vote_Entities.Candidate"/>
<mapping class="com.vote_Entities.Votes"/>
<mapping class="com.vote_Entities.Result"/>
<mapping class="com.vote_Entities.Admin"/>

 </session-factory>
</hibernate-configuration>